# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.code-workspace

# IDE
.vs/
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
